/bak/*
/cantilever_different_volume_triangle/*
/phase50/*
/phase50_half/*
/phase100/*
/testdate_lisa/*
/upper_push_bridge/*
/upper_push_bridge_triangle/*
/temp/*
/cae_opti_info.log
/*.dat
/*.f06
/*.liml
/*.xlsx